<h1 *ngIf="isAddMode">Adicionar Alicias</h1>
<h1 *ngIf="!isAddMode">Editar Alicias</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label>Operação</label>
            <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                <option value=""></option>
                <option value="CCR Bahia">CCR Bahia</option>
                <option value="CCR São Paulo">CCR São Paulo</option>
            </select>
            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">Pera ai, você precisa colocar a Operação!</div>
            </div>
        </div>
        <div class="form-group col-5">
            <label>Linha</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Pera ai, você precisa colocar a Linha!</div>
            </div>
        </div>
        <div class="form-group col-5">
            <label>Numero do Trem</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Tchu tchuuuu... qual o numero desse trem?</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-7">
            <label>Email do Administrador</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Você esqueceu o e-mail do manda chuva!</div>
                <div *ngIf="f.email.errors.email">humm... isso não parece um endereço de e-mail!</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Tipo de Leitura</label>
            <select formControlName="role" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                <option value=""></option>
                <option value="User">Fadiga</option>
                <option value="Admin">Objetos</option>
            </select>
            <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                <div *ngIf="f.role.errors.required">Preciso saber o que vou fazer!</div>
            </div>
        </div>
    </div>
    <div *ngIf="!isAddMode">
        <h3 class="pt-3">Mudar Senha</h3>
        <p>Deixe em branco caso não queria mudar a senha</p>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label>Senha</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Hey, você precisa colocar uma senha</div>
                <div *ngIf="f.password.errors.minlength">Assim fica fácil, no mínimo 6 caracteres!</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Confirmar Senha</label>
            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirme a senha porfavor!</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Hum...as senhas não estão iguais!</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/users" class="btn btn-link">Cancelar</a>
    </div>
</form>
