<h1 *ngIf="isAddMode">Adicionar Alicias</h1>
<h1 *ngIf="!isAddMode">Editar Alicias</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-3">
            <label>Unidade</label>
            <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                <option value=""></option>
                <option value="CCR Bahia">ViaMobilidade Linha 08 e 09</option>
                <!-- <option value="CPTM São Paulo">ViaMobilidade Linha 09</option> -->
            </select>
            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">Pera ai, você precisa colocar a Operação!</div>
            </div>
        </div>

        <div class="form-group col-3">
          <label>Linha</label>
          <select formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
              <option value=""></option>
              <!-- <option value="Linha 01 - CCR Bahia">Linha 01 - CCR Bahia</option>
              <option value="Linha 02 - CCR Bahia">Linha 02 - CCR Bahia</option> -->
              <option value="Linha 08 - Diamante">Linha 08 - Diamante</option>
              <option value="Linha 09 - Esmeralda">Linha 09 - Esmeralda</option>
          </select>
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">Pera ai, você precisa colocar o Numero da Linha!</div>
          </div>
      </div>
        <!-- <div class="form-group col-5">
            <label>Linha</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Pera ai, você precisa colocar a Linha!</div>
            </div>
        </div> -->
        <div class="form-group col-5">
            <label>Numero do Trem</label>
            <input type="number" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Tchu tchuuuu... qual o numero desse trem?</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-7">
            <label>ALICIA ID</label>
            <input type="number" formControlName="alicia" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.alicia.errors }" />
            <div *ngIf="submitted && f.alicia.errors" class="invalid-feedback">
                <div *ngIf="f.alicia.errors.required">Qual ID Alicia da minha amiga?</div>
                <div *ngIf="f.alicia.errors.alicia">humm... isso não parece um numero de Alicia!</div>
            </div>
        </div>
        <div class="form-group col-1">
          <label>MC1</label>
          <input type="number" formControlName="cam" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cam.errors }" />
          <div *ngIf="submitted && f.cam.errors" class="invalid-feedback">
              <div *ngIf="f.cam.errors.required">Qual o numero de série do meu olho?</div>
              <div *ngIf="f.cam.errors.cam">humm... isso não parece um numero de camera!</div>
          </div>
      </div>
      <div class="form-group col-1">
        <label>MC2</label>
        <input type="number" formControlName="cam" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cam.errors }" />
          <div *ngIf="submitted && f.cam.errors" class="invalid-feedback">
              <div *ngIf="f.cam.errors.required">Qual o numero de série do meu olho?</div>
              <div *ngIf="f.cam.errors.cam">humm... isso não parece um numero de camera!</div>
        </div>
    </div>
    <div class="form-group col-1">
      <label>MC3</label>
      <input type="number" formControlName="cam" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cam.errors }" />
          <div *ngIf="submitted && f.cam.errors" class="invalid-feedback">
              <div *ngIf="f.cam.errors.required">Qual o numero de série do meu olho?</div>
              <div *ngIf="f.cam.errors.cam">humm... isso não parece um numero de camera!</div>
      </div>
  </div>

  <div class="form-group col-7">
    <label>ALICIA ID</label>
    <input type="number" formControlName="alicia" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.alicia.errors }" />
            <div *ngIf="submitted && f.alicia.errors" class="invalid-feedback">
                <div *ngIf="f.alicia.errors.required">Qual ID Alicia da minha amiga?</div>
                <div *ngIf="f.alicia.errors.alicia">humm... isso não parece um numero de Alicia!</div>
    </div>
</div>
<div class="form-group col-1">
  <label>MC4</label>
  <input type="number" formControlName="cam" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cam.errors }" />
          <div *ngIf="submitted && f.cam.errors" class="invalid-feedback">
              <div *ngIf="f.cam.errors.required">Qual o numero de série do meu olho?</div>
              <div *ngIf="f.cam.errors.cam">humm... isso não parece um numero de camera!</div>
  </div>
</div>
<div class="form-group col-1">
<label>MC5</label>
<input type="number" formControlName="cam" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cam.errors }" />
          <div *ngIf="submitted && f.cam.errors" class="invalid-feedback">
              <div *ngIf="f.cam.errors.required">Qual o numero de série do meu olho?</div>
              <div *ngIf="f.cam.errors.cam">humm... isso não parece um numero de camera!</div>
</div>
</div>
<div class="form-group col-1">
<label>MC6</label>
<input type="number" formControlName="cam" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cam.errors }" />
          <div *ngIf="submitted && f.cam.errors" class="invalid-feedback">
              <div *ngIf="f.cam.errors.required">Qual o numero de série do meu olho?</div>
              <div *ngIf="f.cam.errors.cam">humm... isso não parece um numero de camera!</div>
</div>
</div>


        <!-- <div class="form-group col-5">
            <label>Tipo de Leitura</label>
            <select formControlName="role" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                <option value=""></option>
                <option value="User">Fadiga</option>
                <option value="Admin">Objetos</option>
            </select>
            <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                <div *ngIf="f.role.errors.required">Preciso saber o que vou fazer!</div>
            </div>
        </div> -->
    </div>
    <div *ngIf="!isAddMode">
        <h3 class="pt-3">Mudar Senha</h3>
        <p>Deixe em branco caso não queria mudar a senha</p>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label>Senha</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Hey, você precisa colocar uma senha</div>
                <div *ngIf="f.password.errors.minlength">Assim fica fácil, no mínimo 6 caracteres!</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Confirmar Senha</label>
            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirme a senha por favor!</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Hum...as senhas não estão iguais!</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Salvar
        </button>
        <a routerLink="/users" class="btn btn-link">Cancelar</a>
    </div>
</form>
